<?xml version="1.0" encoding="utf-8"?>
<Macro Key="3693922d-3ac7-46be-8d20-3333de4cd4d6" Alias="Breadcrumbs" Level="0">
  <Name>Breadcrumbs</Name>
  <MacroSource>~/Views/MacroPartials/Breadcrumbs.cshtml</MacroSource>
  <UseInEditor>false</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>