<?xml version="1.0" encoding="utf-8"?>
<UmbCheckoutConfiguration Id="1" Alias="UmbCheckoutConfiguration" Key="05d7c8e4-0c55-4628-bcdb-ecb62e7c1486">
  <BasketInCookieExpiry>30</BasketInCookieExpiry>
  <BasketInDatabaseExpiry>30</BasketInDatabaseExpiry>
  <CancelPageUrl>
    <Icon>icon-article color-black</Icon>
    <Name>Cancel Page</Name>
    <Published>true</Published>
    <Trashed>false</Trashed>
    <Udi>umb://document/fbfcb13eb62748918c9eb1d33b35fe13</Udi>
    <Url>/cancel-page/</Url>
  </CancelPageUrl>
  <SuccessPageUrl>
    <Icon>icon-article color-black</Icon>
    <Name>Success Page</Name>
    <Published>true</Published>
    <Trashed>false</Trashed>
    <Udi>umb://document/c079cbfa78e74d3ab75b27613ea6c4e0</Udi>
    <Url>/success-page/</Url>
  </SuccessPageUrl>
  <EnableShipping>true</EnableShipping>
  <StoreBasketInCookie>false</StoreBasketInCookie>
  <StoreBasketInDatabase>false</StoreBasketInDatabase>
</UmbCheckoutConfiguration>