<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="e4152137-39fe-42d5-92c7-8e4991a16593" Alias="Please Select Select Option" Level="1">
  <Info>
    <Parent>General</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">Please Select...</Translation>
  </Translations>
</Dictionary>