<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="fc94ed34-46aa-4618-84cb-12d16ee6bfe5" Alias="Search Blog Posts Placeholder" Level="1">
  <Info>
    <Parent>Blog</Parent>
  </Info>
  <Translations>
    <Translation Language="en-GB">Search Blog Posts</Translation>
  </Translations>
</Dictionary>