<?xml version="1.0" encoding="utf-8"?>
<Content Key="ca0a1bd0-5fd2-485f-880a-d589644afdec" Alias="Animals" Level="3">
  <Info>
    <Parent Key="12897ee5-4101-4493-945a-8c4d6c2f70cf">Product Categories</Parent>
    <Path>/Home/ProductCategories/Animals</Path>
    <Trashed>false</Trashed>
    <ContentType>productCategory</ContentType>
    <CreateDate>2023-08-14T12:36:02</CreateDate>
    <NodeName Default="Animals" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryName>
      <Value><![CDATA[Animals]]></Value>
    </categoryName>
  </Properties>
</Content>