<?xml version="1.0" encoding="utf-8"?>
<Content Key="46e89b53-2b09-4701-807c-84049bbeecef" Alias="Basket" Level="2">
  <Info>
    <Parent Key="64837c06-45a0-4108-9d97-a64c1cf74240">Home</Parent>
    <Path>/Home/Basket</Path>
    <Trashed>false</Trashed>
    <ContentType>basket</ContentType>
    <CreateDate>2023-08-14T14:02:38</CreateDate>
    <NodeName Default="Basket" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="be1b9616-7cfd-4662-8e8e-617099f380ed">Basket</Template>
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[{
  "value": "031633",
  "label": "Primary Subtle",
  "sortOrder": 1,
  "id": "2"
}]]></Value>
    </backgroundColour>
    <backgroundImage>
      <Value><![CDATA[[]]]></Value>
    </backgroundImage>
    <heroHeading>
      <Value><![CDATA[]]></Value>
    </heroHeading>
    <heroIntroduction>
      <Value><![CDATA[]]></Value>
    </heroIntroduction>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <metaData>
      <Value><![CDATA[{
  "title": "Basket",
  "description": "",
  "noIndex": false,
  "shareTitle": "Basket",
  "shareDescription": "",
  "shareImage": null,
  "shareImageUrl": null,
  "default": {
    "title": "",
    "description": ""
  },
  "share": {
    "title": "",
    "description": "",
    "image": null,
    "imageUrl": null
  }
}]]></Value>
    </metaData>
    <umbracoInternalRedirectId>
      <Value><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>