<?xml version="1.0" encoding="utf-8"?>
<Content Key="b05e4c69-68b1-4280-bda5-33b61802a269" Alias="Bingo" Level="3">
  <Info>
    <Parent Key="12897ee5-4101-4493-945a-8c4d6c2f70cf">Product Categories</Parent>
    <Path>/Home/ProductCategories/Bingo</Path>
    <Trashed>false</Trashed>
    <ContentType>productCategory</ContentType>
    <CreateDate>2023-08-14T11:43:44</CreateDate>
    <NodeName Default="Bingo" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryName>
      <Value><![CDATA[Bingo]]></Value>
    </categoryName>
  </Properties>
</Content>