<?xml version="1.0" encoding="utf-8"?>
<Content Key="1e780f10-7e5f-446e-83c8-738e88366688" Alias="Blog Categories" Level="2">
  <Info>
    <Parent Key="64837c06-45a0-4108-9d97-a64c1cf74240">Home</Parent>
    <Path>/Home/BlogCategories</Path>
    <Trashed>false</Trashed>
    <ContentType>blogCategories</ContentType>
    <CreateDate>2023-08-14T18:19:37</CreateDate>
    <NodeName Default="Blog Categories" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>