<?xml version="1.0" encoding="utf-8"?>
<Content Key="751f9588-2cb4-4541-9cac-ba9319807a7b" Alias="Blog" Level="2">
  <Info>
    <Parent Key="64837c06-45a0-4108-9d97-a64c1cf74240">Home</Parent>
    <Path>/Home/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>blog</ContentType>
    <CreateDate>2023-08-14T18:18:54</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="717b91bf-257b-42ce-a374-7073b7215a0d">Blog</Template>
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[{
  "value": "031633",
  "label": "Primary Subtle",
  "sortOrder": 1,
  "id": "2"
}]]></Value>
    </backgroundColour>
    <backgroundImage>
      <Value><![CDATA[[]]]></Value>
    </backgroundImage>
    <contentBlocks>
      <Value><![CDATA[]]></Value>
    </contentBlocks>
    <feedDescription>
      <Value><![CDATA[Blog Feed Description]]></Value>
    </feedDescription>
    <feedTitle>
      <Value><![CDATA[Blog Feed Title]]></Value>
    </feedTitle>
    <heading>
      <Value><![CDATA[Latest Blog Posts]]></Value>
    </heading>
    <heroHeading>
      <Value><![CDATA[]]></Value>
    </heroHeading>
    <heroIntroduction>
      <Value><![CDATA[]]></Value>
    </heroIntroduction>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <introduction>
      <Value><![CDATA[]]></Value>
    </introduction>
    <maximumPerPage>
      <Value><![CDATA[9]]></Value>
    </maximumPerPage>
    <metaData>
      <Value><![CDATA[{
  "title": "Blog",
  "description": "",
  "noIndex": false,
  "shareTitle": "Blog",
  "shareDescription": "",
  "shareImage": null,
  "shareImageUrl": null,
  "default": {
    "title": "",
    "description": ""
  },
  "share": {
    "title": "",
    "description": "",
    "image": null,
    "imageUrl": null
  }
}]]></Value>
    </metaData>
    <noPostsMessage>
      <Value><![CDATA[<p style="text-align: center;">No blog posts could be found matching your search.</p>]]></Value>
    </noPostsMessage>
    <umbracoInternalRedirectId>
      <Value><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>