<?xml version="1.0" encoding="utf-8"?>
<Content Key="a9e85ff8-20e2-4787-91d3-2a6f78d49a4f" Alias="Bowling Ball" Level="3">
  <Info>
    <Parent Key="1435f4ed-51a2-467c-9860-d2b9e8092854">Shop</Parent>
    <Path>/Home/Shop/BowlingBall</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2023-08-14T11:21:35</CreateDate>
    <NodeName Default="Bowling Ball" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e7c195f1-5312-462c-8950-9b12635f9627">Product</Template>
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[]]></Value>
    </backgroundColour>
    <backgroundImage>
      <Value><![CDATA[]]></Value>
    </backgroundImage>
    <categories>
      <Value><![CDATA[umb://document/b05e4c6968b14280bda533b61802a269,umb://document/6d6f0c80689d460a91f760468ae0fe4c]]></Value>
    </categories>
    <description>
      <Value><![CDATA[Cras ultricies ligula sed magna dictum porta.]]></Value>
    </description>
    <detailedDescription>
      <Value><![CDATA[]]></Value>
    </detailedDescription>
    <features>
      <Value><![CDATA[]]></Value>
    </features>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <metaData>
      <Value><![CDATA[{
  "title": "Bowling Ball",
  "description": "Cras ultricies ligula sed magna dictum porta.",
  "noIndex": false,
  "shareTitle": "Bowling Ball",
  "shareDescription": "Cras ultricies ligula sed magna dictum porta.",
  "shareImage": null,
  "shareImageUrl": null,
  "default": {
    "title": "",
    "description": ""
  },
  "share": {
    "title": "",
    "description": "",
    "image": null,
    "imageUrl": null
  }
}]]></Value>
    </metaData>
    <photos>
      <Value><![CDATA[[
  {
    "key": "a4a1c2ef-ef8d-4c89-8756-3733d81cbe37",
    "mediaKey": "3e9fc985-63cb-49ef-a788-ffc194e587f6",
    "crops": [
      {
        "alias": "thumbnail",
        "label": "Thumbnail",
        "coordinates": {
          "x1": 0,
          "y1": 0.18386403816388894,
          "x2": 0,
          "y2": 0.4585162784487374
        }
      }
    ]
  }
]]]></Value>
    </photos>
    <productName>
      <Value><![CDATA[Bowling Ball]]></Value>
    </productName>
    <sku>
      <Value><![CDATA[UMB-BOWLING]]></Value>
    </sku>
    <umbCheckoutPrice>
      <Value><![CDATA[899]]></Value>
    </umbCheckoutPrice>
    <umbracoInternalRedirectId>
      <Value><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>