<?xml version="1.0" encoding="utf-8"?>
<Content Key="fbfcb13e-b627-4891-8c9e-b1d33b35fe13" Alias="Cancel Page" Level="2">
  <Info>
    <Parent Key="64837c06-45a0-4108-9d97-a64c1cf74240">Home</Parent>
    <Path>/Home/CancelPage</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2023-08-14T18:10:05</CreateDate>
    <NodeName Default="Cancel Page" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="57155a99-7c0f-4cd5-a2a1-4d58e44c9e2b">Article</Template>
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[]]></Value>
    </backgroundColour>
    <backgroundImage>
      <Value><![CDATA[]]></Value>
    </backgroundImage>
    <heroHeading>
      <Value><![CDATA[]]></Value>
    </heroHeading>
    <heroIntroduction>
      <Value><![CDATA[]]></Value>
    </heroIntroduction>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <metaData>
      <Value><![CDATA[{
  "title": "Cancel Page",
  "description": "",
  "noIndex": true,
  "shareTitle": "Cancel Page",
  "shareDescription": "",
  "shareImage": null,
  "shareImageUrl": null,
  "default": {
    "title": "",
    "description": ""
  },
  "share": {
    "title": "",
    "description": "",
    "image": null,
    "imageUrl": null
  }
}]]></Value>
    </metaData>
    <text>
      <Value><![CDATA[]]></Value>
    </text>
    <umbracoInternalRedirectId>
      <Value><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>