<?xml version="1.0" encoding="utf-8"?>
<Content Key="82e84a26-bb87-4b24-aa6b-7c23301e841a" Alias="Demo" Level="3">
  <Info>
    <Parent Key="1e780f10-7e5f-446e-83c8-738e88366688">Blog Categories</Parent>
    <Path>/Home/BlogCategories/Demo</Path>
    <Trashed>false</Trashed>
    <ContentType>blogCategory</ContentType>
    <CreateDate>2023-08-16T20:05:14</CreateDate>
    <NodeName Default="Demo" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryName>
      <Value><![CDATA[Demo]]></Value>
    </categoryName>
  </Properties>
</Content>