<?xml version="1.0" encoding="utf-8"?>
<Content Key="64837c06-45a0-4108-9d97-a64c1cf74240" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2023-08-11T13:18:23</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8a6f705f-2f7f-48c9-8d60-9dbbc544aa3a">Home</Template>
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[]]></Value>
    </backgroundColour>
    <contentBlocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/21e90455eb234b0fb0ee6745ce461250",
        "settingsUdi": "umb://element/4ec3d3554fed4fbca6902d0ca90752c3"
      },
      {
        "contentUdi": "umb://element/f65785884667478395726f42a65c04c8",
        "settingsUdi": "umb://element/b310bf05aaef4fb5a91fa1dc9e0039aa"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "dee6aa15-7b3d-416c-a916-b544a4c21eab",
      "udi": "umb://element/21e90455eb234b0fb0ee6745ce461250",
      "internalName": "Featured Blocks",
      "heading": "Featured Blocks",
      "introduction": "",
      "featuredProducts": "umb://document/29b84cde80794cd09f78410bff47d244,umb://document/dfb987e7a717451d9072c51b78d636fc,umb://document/17f7b581481c4701bcc1e8f63296b98b"
    },
    {
      "contentTypeKey": "d9fc399e-9b38-4a4f-bea9-5b25de157ce7",
      "udi": "umb://element/f65785884667478395726f42a65c04c8",
      "internalName": "Recently Added",
      "recentProducts": "umb://document/1435f4ed51a2467c9860d2b9e8092854",
      "heading": "Recently Added ",
      "introduction": "",
      "productCategory": null,
      "maximumItems": "9"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "ceceefd9-fd2b-4e68-b598-3742fe773c93",
      "udi": "umb://element/4ec3d3554fed4fbca6902d0ca90752c3",
      "backgroundColour": {
        "value": "1a1d20",
        "label": "Dark Subtle",
        "sortOrder": 15,
        "id": "16"
      }
    },
    {
      "contentTypeKey": "ceceefd9-fd2b-4e68-b598-3742fe773c93",
      "udi": "umb://element/b310bf05aaef4fb5a91fa1dc9e0039aa"
    }
  ]
}]]></Value>
    </contentBlocks>
    <heroButtons>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a06307bfa6aa4528bef70b633fee8906"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "39ae5064-015b-46e9-9a7b-73663ae1c712",
      "udi": "umb://element/a06307bfa6aa4528bef70b633fee8906",
      "internalName": "Explore",
      "link": [
        {
          "name": "Explore",
          "udi": "umb://document/64837c0645a041089d97a64c1cf74240"
        }
      ],
      "type": "btn-primary"
    }
  ],
  "settingsData": []
}]]></Value>
    </heroButtons>
    <heroHeading>
      <Value><![CDATA[{
  "textAlign": "left",
  "hTag": "h1",
  "text": "Sell products the easy way with UmbCheckout"
}]]></Value>
    </heroHeading>
    <heroImage>
      <Value><![CDATA[[
  {
    "key": "653f2452-e8a3-4595-b152-8f9a68c00302",
    "mediaKey": "e594ab87-8b34-4de3-b76f-57d1092bf8e2"
  }
]]]></Value>
    </heroImage>
    <heroText>
      <Value><![CDATA[<p><span class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget odio neque. Nunc ac ipsum maximus, hendrerit tortor eget, tincidunt ligula. Nulla nec ultricies libero.</span></p>]]></Value>
    </heroText>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <metaData>
      <Value><![CDATA[{
  "title": "UmbCheckout Demo - The easy to use eCommerce solution",
  "description": "UmbCheckout is an easy to use eCommerce solution for the Umbraco CMS.",
  "noIndex": false,
  "shareTitle": "UmbCheckout Demo - The easy to use eCommerce solution",
  "shareDescription": "UmbCheckout is an easy to use eCommerce solution for the Umbraco CMS.",
  "shareImage": "e594ab87-8b34-4de3-b76f-57d1092bf8e2",
  "shareImageUrl": "/media/qgvjjzju/high-fashion-portrait-young-elegant-blonde-woman-black-wool-hat-wearing-oversize-white-fringe-poncho-with-long-grey-dress.jpg",
  "default": {
    "title": "UmbCheckout Demo - The easy to use eCommerce solution",
    "description": "UmbCheckout is an easy to use eCommerce solution for the Umbraco CMS."
  },
  "share": {
    "title": "",
    "description": "",
    "image": null,
    "imageUrl": null
  }
}]]></Value>
    </metaData>
    <umbracoInternalRedirectId>
      <Value><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>