<?xml version="1.0" encoding="utf-8"?>
<Content Key="a1fd15f7-534c-4fa1-891d-d15c6e42f6ac" Alias="Knitted West" Level="3">
  <Info>
    <Parent Key="1435f4ed-51a2-467c-9860-d2b9e8092854">Shop</Parent>
    <Path>/Home/Shop/KnittedWest</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2023-08-14T11:22:01</CreateDate>
    <NodeName Default="Knitted West" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e7c195f1-5312-462c-8950-9b12635f9627">Product</Template>
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[]]></Value>
    </backgroundColour>
    <backgroundImage>
      <Value><![CDATA[]]></Value>
    </backgroundImage>
    <categories>
      <Value><![CDATA[umb://document/b05e4c6968b14280bda533b61802a269]]></Value>
    </categories>
    <description>
      <Value><![CDATA[Knitted Unicorn West]]></Value>
    </description>
    <detailedDescription>
      <Value><![CDATA[]]></Value>
    </detailedDescription>
    <features>
      <Value><![CDATA[]]></Value>
    </features>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <metaData>
      <Value><![CDATA[{
  "title": "Knitted Unicorn West",
  "description": "Knitted Unicorn West",
  "noIndex": false,
  "shareTitle": "Knitted Unicorn West",
  "shareDescription": "Knitted Unicorn West",
  "shareImage": null,
  "shareImageUrl": null,
  "default": {
    "title": "",
    "description": ""
  },
  "share": {
    "title": "",
    "description": "",
    "image": null,
    "imageUrl": null
  }
}]]></Value>
    </metaData>
    <photos>
      <Value><![CDATA[[
  {
    "key": "26c683ed-1cac-44e7-a4a5-a11b21d8930d",
    "mediaKey": "e6dfdc28-3472-4bae-bdc4-a39ca1783191",
    "crops": [
      {
        "alias": "thumbnail",
        "label": "Thumbnail",
        "coordinates": {
          "x1": 0,
          "y1": 0.2641904761904762,
          "x2": 0,
          "y2": 0.37866666666666665
        }
      }
    ]
  }
]]]></Value>
    </photos>
    <productName>
      <Value><![CDATA[Knitted Unicorn West]]></Value>
    </productName>
    <sku>
      <Value><![CDATA[UMB-WEST]]></Value>
    </sku>
    <umbCheckoutPrice>
      <Value><![CDATA[1899]]></Value>
    </umbCheckoutPrice>
    <umbracoInternalRedirectId>
      <Value><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>