<?xml version="1.0" encoding="utf-8"?>
<Content Key="7c1e23d9-d0b5-4d63-91bb-df1445563d86" Alias="My Blog Post" Level="3">
  <Info>
    <Parent Key="751f9588-2cb4-4541-9cac-ba9319807a7b">Blog</Parent>
    <Path>/Home/Blog/MyBlogPost</Path>
    <Trashed>false</Trashed>
    <ContentType>blogPost</ContentType>
    <CreateDate>2023-08-16T20:07:12</CreateDate>
    <NodeName Default="My Blog Post" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ed6b74b3-6f4a-4f4b-9356-3df3559c2610">BlogPost</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/82e84a26bb874b24aa6b7c23301e841a,umb://document/185357bda5d045b19728f52b5d6fcabe,umb://document/2d8c0e9045324cb89e6b50e90383adc3]]></Value>
    </categories>
    <content>
      <Value><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ultricies lectus finibus orci scelerisque, ut tristique nulla dapibus. Duis purus tellus, mollis id massa quis, rutrum pharetra dolor. Donec ut efficitur arcu. Cras faucibus metus turpis, a egestas dolor tincidunt vel. Nunc commodo tincidunt leo, id pellentesque metus gravida id. Vivamus lobortis nunc magna, vel ullamcorper neque pulvinar eu. Fusce ut nibh elementum, mollis libero et, pretium dolor. Maecenas convallis, ex ut volutpat gravida, quam ipsum aliquet dui, id pretium odio quam non dui. Morbi id ex quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tempor, sem vitae sollicitudin aliquet, turpis ligula bibendum orci, et vehicula mi nisl sed lectus. Donec maximus finibus lobortis. Phasellus scelerisque magna augue, feugiat scelerisque lacus lacinia in. Vivamus et mollis mauris, eget posuere quam.</p>
<p>Morbi dapibus consectetur orci id commodo. Nullam commodo sollicitudin dignissim. Integer dapibus felis eget lacus commodo consectetur. Mauris facilisis mi lectus. Mauris quis tellus blandit, pulvinar nisl eu, pharetra ipsum. Aliquam sed ultrices quam. Fusce pharetra odio vitae sapien tincidunt, quis tristique quam luctus. Cras commodo lacus non eros iaculis, semper sodales lorem elementum. Curabitur semper sapien purus. Cras eu tortor nunc. Sed cursus molestie gravida. Sed elementum lacinia nisl sed blandit. Sed lobortis risus nec viverra cursus.</p>
<p>Sed consequat, felis in sollicitudin tristique, eros urna luctus lorem, non feugiat velit sem quis quam. Nullam lacinia congue tempor. Etiam lacinia eget neque eget porta. Aliquam et nibh eu nisl laoreet placerat eu posuere metus. Donec varius nibh urna, id viverra diam viverra eu. Donec risus eros, rutrum sed enim sagittis, sagittis interdum augue. Praesent pharetra et velit sit amet tincidunt. Proin volutpat tempor tempor. Quisque et ultrices sem. Pellentesque vehicula purus non luctus aliquam. Morbi at dui ullamcorper, blandit augue a, commodo lectus. Proin laoreet vel augue a maximus.</p>
<p>Nullam at facilisis augue, non vulputate libero. Nullam faucibus vel enim ut lacinia. Cras id bibendum velit. Maecenas hendrerit a ex vel tristique. Aliquam augue nibh, porta nec feugiat et, malesuada vitae velit. Suspendisse in sagittis massa, vel accumsan augue. Proin nec erat vitae leo interdum malesuada. Donec malesuada sodales ex id varius.</p>
<p>Pellentesque sit amet purus vitae ex ultricies molestie eget et mauris. Proin sed mi dignissim, posuere dolor vitae, vestibulum tellus. Sed non tristique nisl, quis tempor eros. Etiam varius massa ligula, et eleifend neque posuere et. Nunc a ligula facilisis purus scelerisque vulputate. Curabitur mollis et leo nec luctus. Vestibulum sem ante, tempus sit amet sagittis interdum, tincidunt sed nunc. Suspendisse nec cursus neque, id fringilla sapien. Mauris pellentesque consectetur nulla. Donec rutrum fermentum mi ac ultricies.</p>]]></Value>
    </content>
    <displayDate>
      <Value><![CDATA[2023-08-16T00:00:00]]></Value>
    </displayDate>
    <excerpt>
      <Value><![CDATA[Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit]]></Value>
    </excerpt>
    <heroHeading>
      <Value><![CDATA[]]></Value>
    </heroHeading>
    <heroIntroduction>
      <Value><![CDATA[]]></Value>
    </heroIntroduction>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <image>
      <Value><![CDATA[[
  {
    "key": "dc0baba1-d9db-4c63-ae0b-2c676c046bb7",
    "mediaKey": "e4aeab4d-87d0-477b-94ce-d7ca9d0fed97"
  }
]]]></Value>
    </image>
    <metaData>
      <Value><![CDATA[{
  "title": "My Blog Post",
  "description": "",
  "noIndex": false,
  "shareTitle": "My Blog Post",
  "shareDescription": "",
  "shareImage": null,
  "shareImageUrl": null,
  "default": {
    "title": "",
    "description": ""
  },
  "share": {
    "title": "",
    "description": "",
    "image": null,
    "imageUrl": null
  }
}]]></Value>
    </metaData>
    <umbracoInternalRedirectId>
      <Value><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>