<?xml version="1.0" encoding="utf-8"?>
<Content Key="af18d117-cfae-4468-b0e7-6904fae3fd66" Alias="Red" Level="4">
  <Info>
    <Parent Key="f2f51c35-6eca-476a-ab74-f81d09d9bbe7">Biker Jacket</Parent>
    <Path>/Home/Shop/BikerJacket/Red</Path>
    <Trashed>false</Trashed>
    <ContentType>product1</ContentType>
    <CreateDate>2023-08-23T16:59:08</CreateDate>
    <NodeName Default="Red" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <productName>
      <Value><![CDATA[Red]]></Value>
    </productName>
    <sku>
      <Value><![CDATA[UMB-BIKER-JACKET-RED]]></Value>
    </sku>
    <umbCheckoutPrice>
      <Value><![CDATA[199]]></Value>
    </umbCheckoutPrice>
  </Properties>
</Content>