<?xml version="1.0" encoding="utf-8"?>
<Content Key="5728b5c2-f8f9-4a61-95b1-86f62b149ced" Alias="Registration" Level="2">
  <Info>
    <Parent Key="64837c06-45a0-4108-9d97-a64c1cf74240">Home</Parent>
    <Path>/Home/Registration</Path>
    <Trashed>false</Trashed>
    <ContentType>registration</ContentType>
    <CreateDate>2025-03-10T08:52:37</CreateDate>
    <NodeName Default="Registration" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d9a0110a-72aa-4b0d-b38b-83eb14616dfc">Registration</Template>
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[]]></Value>
    </backgroundColour>
    <backgroundImage>
      <Value><![CDATA[[]]]></Value>
    </backgroundImage>
    <email>
      <Value><![CDATA[]]></Value>
    </email>
    <heroHeading>
      <Value><![CDATA[]]></Value>
    </heroHeading>
    <heroIntroduction>
      <Value><![CDATA[]]></Value>
    </heroIntroduction>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <metaData>
      <Value><![CDATA[{
  "title": "Registration",
  "description": "",
  "noIndex": true,
  "shareTitle": "Registration",
  "shareDescription": "",
  "shareImage": null,
  "shareImageUrl": null,
  "default": {
    "title": "",
    "description": ""
  },
  "share": {
    "title": "",
    "description": "",
    "image": null,
    "imageUrl": null
  }
}]]></Value>
    </metaData>
    <password>
      <Value><![CDATA[]]></Value>
    </password>
    <umbracoInternalRedirectId>
      <Value><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
    <Username>
      <Value><![CDATA[]]></Value>
    </Username>
  </Properties>
</Content>