<?xml version="1.0" encoding="utf-8"?>
<Content Key="1435f4ed-51a2-467c-9860-d2b9e8092854" Alias="Shop" Level="2">
  <Info>
    <Parent Key="64837c06-45a0-4108-9d97-a64c1cf74240">Home</Parent>
    <Path>/Home/Shop</Path>
    <Trashed>false</Trashed>
    <ContentType>products</ContentType>
    <CreateDate>2023-08-14T11:18:39</CreateDate>
    <NodeName Default="Shop" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="be79001d-afc3-42dd-bb1c-aa36c8f74911">Products</Template>
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[{
  "value": "031633",
  "label": "Primary Subtle",
  "sortOrder": 1,
  "id": "2"
}]]></Value>
    </backgroundColour>
    <backgroundImage>
      <Value><![CDATA[[]]]></Value>
    </backgroundImage>
    <contentBlocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e8a36e162ef2408ebbe97b45f6480072",
        "settingsUdi": "umb://element/4586b550676840dc8140cd58abfa30cd"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "dee6aa15-7b3d-416c-a916-b544a4c21eab",
      "udi": "umb://element/e8a36e162ef2408ebbe97b45f6480072",
      "internalName": "Featured Products",
      "heading": "Featured Products",
      "introduction": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>",
      "featuredProducts": "umb://document/f2f51c356eca476aab74f81d09d9bbe7,umb://document/dfb987e7a717451d9072c51b78d636fc,umb://document/5cfd5e8c156b427688e73ffd05c9359e"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "ceceefd9-fd2b-4e68-b598-3742fe773c93",
      "udi": "umb://element/4586b550676840dc8140cd58abfa30cd",
      "backgroundColour": {
        "value": "1a1d20",
        "label": "Dark Subtle",
        "sortOrder": 15,
        "id": "16"
      }
    }
  ]
}]]></Value>
    </contentBlocks>
    <heading>
      <Value><![CDATA[Our Products]]></Value>
    </heading>
    <heroButtons>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/cea7ff9ecdc2433099b5fdd837516751"
      },
      {
        "contentUdi": "umb://element/b4206cdc043945ee8eb6aae4003d0c45"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "39ae5064-015b-46e9-9a7b-73663ae1c712",
      "udi": "umb://element/cea7ff9ecdc2433099b5fdd837516751",
      "internalName": "Button 1",
      "link": [
        {
          "name": "Home",
          "udi": "umb://document/64837c0645a041089d97a64c1cf74240"
        }
      ],
      "type": "btn-primary"
    },
    {
      "contentTypeKey": "39ae5064-015b-46e9-9a7b-73663ae1c712",
      "udi": "umb://element/b4206cdc043945ee8eb6aae4003d0c45",
      "internalName": "Button 2",
      "link": [
        {
          "name": "Home",
          "udi": "umb://document/64837c0645a041089d97a64c1cf74240"
        }
      ],
      "type": "btn-secondary"
    }
  ],
  "settingsData": []
}]]></Value>
    </heroButtons>
    <heroHeading>
      <Value><![CDATA[]]></Value>
    </heroHeading>
    <heroIntroduction>
      <Value><![CDATA[]]></Value>
    </heroIntroduction>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <introduction>
      <Value><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>]]></Value>
    </introduction>
    <maximumPerPage>
      <Value><![CDATA[3]]></Value>
    </maximumPerPage>
    <metaData>
      <Value><![CDATA[{
  "title": "Shop",
  "description": "",
  "noIndex": false,
  "shareTitle": "Shop",
  "shareDescription": "",
  "shareImage": null,
  "shareImageUrl": null,
  "default": {
    "title": "",
    "description": ""
  },
  "share": {
    "title": "",
    "description": "",
    "image": null,
    "imageUrl": null
  }
}]]></Value>
    </metaData>
    <noProductsMessage>
      <Value><![CDATA[<p>No products could be found matching your search.</p>]]></Value>
    </noProductsMessage>
    <umbracoInternalRedirectId>
      <Value><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>