<?xml version="1.0" encoding="utf-8"?>
<Content Key="25258e93-e875-4fe0-b6f3-2c3693353e2b" Alias="Site Settings" Level="2">
  <Info>
    <Parent Key="64837c06-45a0-4108-9d97-a64c1cf74240">Home</Parent>
    <Path>/Home/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2023-08-11T14:48:40</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <copyright>
      <Value><![CDATA[Copyright © [[YEAR]] [[SITENAME]], All Rights Reserved.]]></Value>
    </copyright>
    <footerNavigation>
      <Value><![CDATA[[
  {
    "udi": null,
    "description": null,
    "title": "Menu",
    "target": null,
    "noopener": false,
    "noreferrer": false,
    "anchor": null,
    "url": null,
    "children": [
      {
        "udi": "umb://document/64837c0645a041089d97a64c1cf74240",
        "key": "64837c06-45a0-4108-9d97-a64c1cf74240",
        "name": "Home",
        "description": "/",
        "title": "Home",
        "url": "/",
        "children": [],
        "icon": "icon-home color-black",
        "published": true,
        "naviHide": true,
        "culture": null,
        "itemType": "link"
      },
      {
        "udi": "umb://document/1435f4ed51a2467c9860d2b9e8092854",
        "key": "1435f4ed-51a2-467c-9860-d2b9e8092854",
        "name": "Shop",
        "description": "/shop/",
        "title": "Shop",
        "url": "/shop/",
        "children": [],
        "icon": "icon-shipping-box color-black",
        "published": true,
        "naviHide": false,
        "culture": null,
        "itemType": "link"
      },
      {
        "udi": "umb://document/872f8f0b6923407790043275d55ce07f",
        "key": "872f8f0b-6923-4077-9004-3275d55ce07f",
        "name": "About Us",
        "description": "/about-us/",
        "title": "About Us",
        "url": "/about-us/",
        "children": [],
        "icon": "icon-article color-black",
        "published": true,
        "naviHide": false,
        "culture": null,
        "itemType": "link"
      },
      {
        "udi": "umb://document/751f95882cb445419cacba9319807a7b",
        "key": "751f9588-2cb4-4541-9cac-ba9319807a7b",
        "name": "Blog",
        "description": "/blog/",
        "title": "Blog",
        "url": "/blog/",
        "children": [],
        "icon": "icon-book color-black",
        "published": true,
        "naviHide": false,
        "culture": null,
        "itemType": "link"
      },
      {
        "udi": "umb://document/64837c0645a041089d97a64c1cf74240",
        "key": "64837c06-45a0-4108-9d97-a64c1cf74240",
        "name": "Home",
        "description": "/#",
        "title": "Contact",
        "url": "/#",
        "children": [],
        "icon": "icon-home color-black",
        "published": true,
        "naviHide": false,
        "culture": null,
        "itemType": "link",
        "anchor": "#"
      },
      {
        "udi": "umb://document/46e89b532b094701807c84049bbeecef",
        "key": "46e89b53-2b09-4701-807c-84049bbeecef",
        "name": "Basket",
        "description": "/basket/",
        "title": "Basket",
        "url": "/basket/",
        "children": [],
        "icon": "icon-shopping-basket-alt-2 color-black",
        "published": true,
        "naviHide": false,
        "culture": null,
        "itemType": "link"
      }
    ],
    "icon": "icon-tag",
    "includeChildNodes": false,
    "itemType": "nolink"
  },
  {
    "udi": null,
    "description": null,
    "title": "Categories",
    "target": null,
    "noopener": false,
    "noreferrer": false,
    "anchor": null,
    "url": null,
    "children": [
      {
        "description": "/shop/category/bingo/",
        "title": "Bingo",
        "url": "/shop/category/bingo/",
        "children": [],
        "icon": "icon-link",
        "itemType": "link"
      },
      {
        "description": "/shop/category/clothing/",
        "title": "Clothing",
        "url": "/shop/category/clothing/",
        "children": [],
        "icon": "icon-link",
        "itemType": "link"
      },
      {
        "description": "/shop/category/tattoo/",
        "title": "Tattoo",
        "url": "/shop/category/tattoo/",
        "children": [],
        "icon": "icon-link",
        "itemType": "link"
      },
      {
        "description": "/shop/category/sports/",
        "title": "Sports",
        "url": "/shop/category/sports/",
        "children": [],
        "icon": "icon-link",
        "itemType": "link"
      },
      {
        "description": "/shop/category/animals/",
        "title": "Animals",
        "url": "/shop/category/animals/",
        "children": [],
        "icon": "icon-link",
        "itemType": "link"
      }
    ],
    "icon": "icon-tag",
    "includeChildNodes": false,
    "itemType": "nolink"
  },
  {
    "udi": null,
    "description": null,
    "title": "Section",
    "target": null,
    "noopener": false,
    "noreferrer": false,
    "anchor": null,
    "url": null,
    "children": [
      {
        "udi": "umb://document/64837c0645a041089d97a64c1cf74240",
        "key": "64837c06-45a0-4108-9d97-a64c1cf74240",
        "name": "Home",
        "description": "/",
        "title": "Home",
        "url": "/",
        "children": [],
        "icon": "icon-home color-black",
        "published": true,
        "naviHide": false,
        "culture": null,
        "itemType": "link"
      },
      {
        "udi": "umb://document/64837c0645a041089d97a64c1cf74240",
        "key": "64837c06-45a0-4108-9d97-a64c1cf74240",
        "name": "Home",
        "description": "/",
        "title": "Home",
        "url": "/",
        "children": [],
        "icon": "icon-home color-black",
        "published": true,
        "naviHide": false,
        "culture": null,
        "itemType": "link"
      },
      {
        "udi": "umb://document/64837c0645a041089d97a64c1cf74240",
        "key": "64837c06-45a0-4108-9d97-a64c1cf74240",
        "name": "Home",
        "description": "/",
        "title": "Home",
        "url": "/",
        "children": [],
        "icon": "icon-home color-black",
        "published": true,
        "naviHide": false,
        "culture": null,
        "itemType": "link"
      },
      {
        "udi": "umb://document/64837c0645a041089d97a64c1cf74240",
        "key": "64837c06-45a0-4108-9d97-a64c1cf74240",
        "name": "Home",
        "description": "/",
        "title": "Home",
        "url": "/",
        "children": [],
        "icon": "icon-home color-black",
        "published": true,
        "naviHide": false,
        "culture": null,
        "itemType": "link"
      }
    ],
    "icon": "icon-tag",
    "includeChildNodes": false,
    "itemType": "nolink"
  }
]]]></Value>
    </footerNavigation>
    <mailChimpSignupSubtitle>
      <Value><![CDATA[Monthly digest of what's new and exciting from us.]]></Value>
    </mailChimpSignupSubtitle>
    <mailChimpSignupTitle>
      <Value><![CDATA[Subscribe to our newsletter]]></Value>
    </mailChimpSignupTitle>
    <mailChimpSignupURL>
      <Value><![CDATA[https://umbcheckout.us6.list-manage.com/subscribe/post?u=e6d9d3c98d1ea018bbcd617f6&id=5e49d19f4a]]></Value>
    </mailChimpSignupURL>
    <siteName>
      <Value><![CDATA[UmbCheckout Demo]]></Value>
    </siteName>
    <socialIcons>
      <Value><![CDATA[[
  {
    "network": "twitter",
    "name": "Twitter",
    "url": "https://twitter.com/"
  },
  {
    "network": "instagram",
    "name": "Instagram",
    "url": "https://instagram.com/"
  },
  {
    "network": "facebook",
    "name": "Facebook",
    "url": "https://facebook.com/"
  }
]]]></Value>
    </socialIcons>
    <topNavigation>
      <Value><![CDATA[[
  {
    "description": "/shop/",
    "title": "Shop",
    "url": "/shop/",
    "children": [
      {
        "description": "/shop/category/bingo/",
        "title": "Bingo",
        "url": "/shop/category/bingo/",
        "children": [],
        "icon": "icon-link",
        "itemType": "link",
        "anchor": ""
      },
      {
        "description": "/shop/category/clothing/",
        "title": "Clothing",
        "url": "/shop/category/clothing/",
        "children": [],
        "icon": "icon-link",
        "itemType": "link",
        "anchor": ""
      },
      {
        "description": "/shop/category/sports/",
        "title": "Sports",
        "url": "/shop/category/sports/",
        "children": [],
        "icon": "icon-link",
        "itemType": "link",
        "anchor": ""
      },
      {
        "description": "/shop/category/tattoo/",
        "title": "Tattoo",
        "url": "/shop/category/tattoo/",
        "children": [],
        "icon": "icon-link",
        "itemType": "link",
        "anchor": ""
      },
      {
        "description": "/shop/category/animals/",
        "title": "Animals",
        "url": "/shop/category/animals/",
        "children": [],
        "icon": "icon-link",
        "itemType": "link",
        "anchor": ""
      }
    ],
    "icon": "icon-shipping-box color-black",
    "itemType": "link",
    "udi": "umb://document/1435f4ed51a2467c9860d2b9e8092854",
    "key": "1435f4ed-51a2-467c-9860-d2b9e8092854",
    "name": "Shop",
    "anchor": "",
    "published": true,
    "naviHide": false,
    "culture": null,
    "id": 1092,
    "collapsed": true
  },
  {
    "description": "/about-us/",
    "title": "About Us",
    "url": "/about-us/",
    "children": [],
    "icon": "icon-article color-black",
    "itemType": "link",
    "udi": "umb://document/872f8f0b6923407790043275d55ce07f",
    "key": "872f8f0b-6923-4077-9004-3275d55ce07f",
    "name": "About Us",
    "anchor": "",
    "published": true,
    "naviHide": false,
    "culture": null,
    "id": 1141
  },
  {
    "description": "/blog/",
    "title": "Blog",
    "url": "/blog/",
    "children": [],
    "icon": "icon-book color-black",
    "itemType": "link",
    "udi": "umb://document/751f95882cb445419cacba9319807a7b",
    "key": "751f9588-2cb4-4541-9cac-ba9319807a7b",
    "name": "Blog",
    "anchor": "",
    "published": true,
    "naviHide": false,
    "culture": null,
    "id": 1159
  },
  {
    "udi": "umb://document/770b055b5149443980d12196de6d3939",
    "key": "770b055b-5149-4439-80d1-2196de6d3939",
    "name": "Blocks Demo",
    "description": "/blocks-demo/",
    "title": "Blocks Demo",
    "url": "/blocks-demo/",
    "children": [],
    "icon": "icon-layout color-black",
    "published": true,
    "naviHide": false,
    "culture": null,
    "itemType": "link"
  },
  {
    "description": "/contact/",
    "title": "Contact",
    "url": "/contact/",
    "children": [],
    "icon": "icon-layout color-black",
    "itemType": "link",
    "udi": "umb://document/17597e1c8af24cf8bc61a1001686dfd7",
    "key": "17597e1c-8af2-4cf8-bc61-a1001686dfd7",
    "name": "Contact",
    "anchor": "",
    "published": true,
    "naviHide": false,
    "culture": null,
    "id": 1223
  }
]]]></Value>
    </topNavigation>
  </Properties>
</Content>