<?xml version="1.0" encoding="utf-8"?>
<Content Key="29b84cde-8079-4cd0-9f78-410bff47d244" Alias="Tattoo" Level="3">
  <Info>
    <Parent Key="1435f4ed-51a2-467c-9860-d2b9e8092854">Shop</Parent>
    <Path>/Home/Shop/Tattoo</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2023-08-14T11:21:10</CreateDate>
    <NodeName Default="Tattoo" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e7c195f1-5312-462c-8950-9b12635f9627">Product</Template>
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[]]></Value>
    </backgroundColour>
    <backgroundImage>
      <Value><![CDATA[]]></Value>
    </backgroundImage>
    <categories>
      <Value><![CDATA[umb://document/3445c5c4b1c244fabaa4dc0428b5906b]]></Value>
    </categories>
    <description>
      <Value><![CDATA[Cras ultricies ligula sed magna dictum porta.]]></Value>
    </description>
    <detailedDescription>
      <Value><![CDATA[]]></Value>
    </detailedDescription>
    <features>
      <Value><![CDATA[]]></Value>
    </features>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <metaData>
      <Value><![CDATA[{
  "title": "Tattoo",
  "description": "Cras ultricies ligula sed magna dictum porta.",
  "noIndex": false,
  "shareTitle": "Tattoo",
  "shareDescription": "Cras ultricies ligula sed magna dictum porta.",
  "shareImage": null,
  "shareImageUrl": null,
  "default": {
    "title": "",
    "description": ""
  },
  "share": {
    "title": "",
    "description": "",
    "image": null,
    "imageUrl": null
  }
}]]></Value>
    </metaData>
    <photos>
      <Value><![CDATA[[
  {
    "key": "d495ca23-fae4-4445-a9aa-d75a7d61907e",
    "mediaKey": "8207e486-f201-43b8-bdcc-74d20f0dcdf5",
    "crops": [
      {
        "alias": "thumbnail",
        "label": "Thumbnail",
        "coordinates": {
          "x1": 0,
          "y1": 0.21815873015873016,
          "x2": 0,
          "y2": 0.4246984126984127
        }
      }
    ]
  }
]]]></Value>
    </photos>
    <productName>
      <Value><![CDATA[Tattoo]]></Value>
    </productName>
    <sku>
      <Value><![CDATA[UMB-TATTOO]]></Value>
    </sku>
    <umbCheckoutPrice>
      <Value><![CDATA[499]]></Value>
    </umbCheckoutPrice>
    <umbracoInternalRedirectId>
      <Value><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>