<?xml version="1.0" encoding="utf-8"?>
<Content Key="3445c5c4-b1c2-44fa-baa4-dc0428b5906b" Alias="Tattoo" Level="3">
  <Info>
    <Parent Key="12897ee5-4101-4493-945a-8c4d6c2f70cf">Product Categories</Parent>
    <Path>/Home/ProductCategories/Tattoo</Path>
    <Trashed>false</Trashed>
    <ContentType>productCategory</ContentType>
    <CreateDate>2023-08-14T12:33:39</CreateDate>
    <NodeName Default="Tattoo" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryName>
      <Value><![CDATA[Tattoo]]></Value>
    </categoryName>
  </Properties>
</Content>