<?xml version="1.0" encoding="utf-8"?>
<Content Key="185357bd-a5d0-45b1-9728-f52b5d6fcabe" Alias="Umbraco" Level="3">
  <Info>
    <Parent Key="1e780f10-7e5f-446e-83c8-738e88366688">Blog Categories</Parent>
    <Path>/Home/BlogCategories/Umbraco</Path>
    <Trashed>false</Trashed>
    <ContentType>blogCategory</ContentType>
    <CreateDate>2023-08-16T20:05:23</CreateDate>
    <NodeName Default="Umbraco" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categoryName>
      <Value><![CDATA[Umbraco]]></Value>
    </categoryName>
  </Properties>
</Content>