<?xml version="1.0" encoding="utf-8"?>
<Content Key="4df7d88c-72a5-497f-891f-2367800c51b4" Alias="Unicorn" Level="3">
  <Info>
    <Parent Key="1435f4ed-51a2-467c-9860-d2b9e8092854">Shop</Parent>
    <Path>/Home/Shop/Unicorn</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2023-08-14T11:21:15</CreateDate>
    <NodeName Default="Unicorn" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e7c195f1-5312-462c-8950-9b12635f9627">Product</Template>
  </Info>
  <Properties>
    <backgroundColour>
      <Value><![CDATA[]]></Value>
    </backgroundColour>
    <backgroundImage>
      <Value><![CDATA[]]></Value>
    </backgroundImage>
    <categories>
      <Value><![CDATA[umb://document/ca0a1bd05fd2485f880ad589644afdec]]></Value>
    </categories>
    <description>
      <Value><![CDATA[Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum porta.]]></Value>
    </description>
    <detailedDescription>
      <Value><![CDATA[]]></Value>
    </detailedDescription>
    <features>
      <Value><![CDATA[]]></Value>
    </features>
    <hideFromXmlSitemap>
      <Value><![CDATA[]]></Value>
    </hideFromXmlSitemap>
    <metaData>
      <Value><![CDATA[{
  "title": "Unicorn",
  "description": "Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum porta.",
  "noIndex": false,
  "shareTitle": "Unicorn",
  "shareDescription": "Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Cras ultricies ligula sed magna dictum porta.",
  "shareImage": null,
  "shareImageUrl": null,
  "default": {
    "title": "",
    "description": ""
  },
  "share": {
    "title": "",
    "description": "",
    "image": null,
    "imageUrl": null
  }
}]]></Value>
    </metaData>
    <photos>
      <Value><![CDATA[[
  {
    "key": "0445896b-82f2-430b-aedc-ae4efc4e14c0",
    "mediaKey": "986de8cd-d369-47f2-a8cd-18a4a38b7be0",
    "crops": [
      {
        "alias": "thumbnail",
        "label": "Thumbnail",
        "coordinates": {
          "x1": 0,
          "y1": 0.22926984126984126,
          "x2": 0,
          "y2": 0.4135873015873016
        }
      }
    ]
  }
]]]></Value>
    </photos>
    <productName>
      <Value><![CDATA[Unicorn]]></Value>
    </productName>
    <sku>
      <Value><![CDATA[UMB-UNICORN]]></Value>
    </sku>
    <umbCheckoutPrice>
      <Value><![CDATA[249]]></Value>
    </umbCheckoutPrice>
    <umbracoInternalRedirectId>
      <Value><![CDATA[]]></Value>
    </umbracoInternalRedirectId>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>