<?xml version="1.0" encoding="utf-8"?>
<Media Key="986de8cd-d369-47f2-a8cd-18a4a38b7be0" Alias="14272036539 469Ca21d5c H" Level="2">
  <Info>
    <Parent Key="8c3f474f-df1f-441b-95dd-e3f3bdac011a">Demo</Parent>
    <Path>/Demo/Ca21d5cH</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-14T12:36:30</CreateDate>
    <NodeName Default="14272036539 469Ca21d5c H" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <alt>
      <Value><![CDATA[]]></Value>
    </alt>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zpug1gdj/14272036539_469ca21d5c_h.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>