<?xml version="1.0" encoding="utf-8"?>
<Media Key="e4aeab4d-87d0-477b-94ce-d7ca9d0fed97" Alias="7373036290 5E8420bf36 B" Level="2">
  <Info>
    <Parent Key="8c3f474f-df1f-441b-95dd-e3f3bdac011a">Demo</Parent>
    <Path>/Demo/E8420bf36B</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-14T12:41:06</CreateDate>
    <NodeName Default="7373036290 5E8420bf36 B" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <alt>
      <Value><![CDATA[]]></Value>
    </alt>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jovl3zgq/7373036290_5e8420bf36_b.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>