<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c3f474f-df1f-441b-95dd-e3f3bdac011a" Alias="Demo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Demo</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-08-11T13:54:26</CreateDate>
    <NodeName Default="Demo" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>