<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6d8e402c-a8a7-46ca-b1f1-fe664362405b" Alias="Accordion" Level="1">
  <Info>
    <Name>Accordion</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "128843f0-a5db-4eaa-b38f-da5bbc5d84e7",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": true,
  "ValidationLimit": {
    "max": null,
    "min": 1
  }
}]]></Config>
</DataType>