<?xml version="1.0" encoding="utf-8"?>
<DataType Key="38e740e0-8d15-4952-b686-785e88db51df" Alias="Alert" Level="1">
  <Info>
    <Name>Alert</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "bold",
      "italic",
      "underline",
      "link"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "distraction-free"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small"
}]]></Config>
</DataType>