<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0a25f868-c164-4b0f-a351-2236fd060f1d" Alias="Alert Style" Level="1">
  <Info>
    <Name>Alert Style</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UserDefinedDataListSource, Umbraco.Community.Contentment",
      "value": {
        "items": [
          {
            "icon": "icon-stop",
            "name": "Primary",
            "value": "alert-primary",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "Secondary",
            "value": "alert-secondary",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "Success",
            "value": "alert-success",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "Danger",
            "value": "alert-danger",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "Warning",
            "value": "alert-warning",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "Info",
            "value": "alert-info",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "Light",
            "value": "alert-light",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "Dark",
            "value": "alert-dark",
            "description": ""
          }
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": "1",
        "htmlAttributes": []
      }
    }
  ]
}]]></Config>
</DataType>