<?xml version="1.0" encoding="utf-8"?>
<DataType Key="012d4759-1f87-4134-9507-4f268ac28dd9" Alias="Background Colour" Level="1">
  <Info>
    <Name>Background Colour</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"0d6efd\",\"label\":\"Primary\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"031633\",\"label\":\"Primary Subtle\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"6c757d\",\"label\":\"Secondary\"}"
    },
    {
      "id": 4,
      "value": "{\"value\":\"161719\",\"label\":\"Secondary Subtle\"}"
    },
    {
      "id": 5,
      "value": "{\"value\":\"198754\",\"label\":\"Success\"}"
    },
    {
      "id": 6,
      "value": "{\"value\":\"051b11\",\"label\":\"Success Subtle\"}"
    },
    {
      "id": 7,
      "value": "{\"value\":\"dc3545\",\"label\":\"Danger\"}"
    },
    {
      "id": 8,
      "value": "{\"value\":\"2c0b0e\",\"label\":\"Danger Subtle\"}"
    },
    {
      "id": 9,
      "value": "{\"value\":\"ffc107\",\"label\":\"Warning\"}"
    },
    {
      "id": 10,
      "value": "{\"value\":\"332701\",\"label\":\"Warning Subtle\"}"
    },
    {
      "id": 11,
      "value": "{\"value\":\"0dcaf0\",\"label\":\"Info\"}"
    },
    {
      "id": 12,
      "value": "{\"value\":\"032830\",\"label\":\"Info Subtle\"}"
    },
    {
      "id": 13,
      "value": "{\"value\":\"f8f9fa\",\"label\":\"Light\"}"
    },
    {
      "id": 14,
      "value": "{\"value\":\"343a40\",\"label\":\"Light Subtle\"}"
    },
    {
      "id": 15,
      "value": "{\"value\":\"212529\",\"label\":\"Dark\"}"
    },
    {
      "id": 16,
      "value": "{\"value\":\"1a1d20\",\"label\":\"Dark Subtle\"}"
    },
    {
      "id": 17,
      "value": "{\"value\":\"2b3035\",\"label\":\"Body Tertiary\"}"
    },
    {
      "id": 18,
      "value": "{\"value\":\"000000\",\"label\":\"Black\"}"
    },
    {
      "id": 19,
      "value": "{\"value\":\"ffffff\",\"label\":\"White\"}"
    }
  ],
  "UseLabel": true
}]]></Config>
</DataType>