<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d1656b41-4d19-44c2-997a-269216e2a42d" Alias="Blog Categories" Level="1">
  <Info>
    <Name>Blog Categories</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "blogCategory",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 1,
  "ShowOpen": false,
  "TreeSource": {
    "id": "umb://document/1e780f107e5f446e83c8738e88366688",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>