<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a301f29e-56b7-46dd-a8c8-905e989e3a07" Alias="Blog Post - Image" Level="1">
  <Info>
    <Name>Blog Post - Image</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "thumbnail",
      "height": 225,
      "label": "Thumbnail",
      "width": 420
    },
    {
      "alias": "hero",
      "height": 228,
      "label": "Hero",
      "width": 1400
    },
    {
      "alias": "smallThumbnail",
      "height": 96,
      "label": "Small Thumbnail",
      "width": 117
    }
  ],
  "EnableLocalFocalPoint": false,
  "Filter": "umbracoMediaVectorGraphics,Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>