<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aadcc346-6c81-4f15-b263-20dc104f024d" Alias="Button - Type" Level="1">
  <Info>
    <Name>Button - Type</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UserDefinedDataListSource, Umbraco.Community.Contentment",
      "value": {
        "items": [
          {
            "icon": "icon-stop color-blue",
            "name": "Primary",
            "value": "btn-primary",
            "description": ""
          },
          {
            "icon": "icon-stop color-grey",
            "name": "Secondary",
            "value": "btn-secondary",
            "description": ""
          },
          {
            "icon": "icon-stop color-green",
            "name": "Success",
            "value": "btn-success",
            "description": ""
          },
          {
            "icon": "icon-stop color-red",
            "name": "Danger",
            "value": "btn-danger",
            "description": ""
          },
          {
            "icon": "icon-stop color-amber",
            "name": "Warning",
            "value": "btn-warning",
            "description": ""
          },
          {
            "icon": "icon-stop color-cyan",
            "name": "Info",
            "value": "btn-info",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "Light",
            "value": "btn-light",
            "description": ""
          },
          {
            "icon": "icon-stop color-black",
            "name": "Dark",
            "value": "btn-dark",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "Link",
            "value": "btn-link",
            "description": ""
          }
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": "1",
        "htmlAttributes": []
      }
    }
  ]
}]]></Config>
</DataType>