<?xml version="1.0" encoding="utf-8"?>
<DataType Key="199736b3-ef8b-441e-86d9-5e8948dbf56b" Alias="Email" Level="1">
  <Info>
    <Name>Email</Name>
    <EditorAlias>Umbraco.Community.Contentment.TextInput</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "inputType": "email",
  "items": [],
  "autocomplete": "0",
  "spellcheck": "0",
  "prepend": "icon-message color-black"
}]]></Config>
</DataType>