<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b3b6c586-0224-4d6b-9842-61e6907758f1" Alias="Featured Products" Level="1">
  <Info>
    <Name>Featured Products</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "product",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 3,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": "umb://document/1435f4ed51a2467c9860d2b9e8092854",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>