<?xml version="1.0" encoding="utf-8"?>
<DataType Key="570afca3-a885-4d0a-b147-135c769cc75b" Alias="Footer Navigation" Level="1">
  <Info>
    <Name>Footer Navigation</Name>
    <EditorAlias>AaronSadler.UmbNav</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "AllowCustomClasses": false,
  "AllowDisplay": false,
  "AllowDisplayAsLabel": false,
  "AllowImageIcon": false,
  "AllowLabels": true,
  "ExpandOnHover": true,
  "ExpandOnHoverTimeout": 500,
  "HideIncludeChildren": false,
  "HideLabel": true,
  "HideNoopener": false,
  "HideNoreferrer": false,
  "MaxDepth": 2,
  "RemoveNaviHideItems": true,
  "ShowTopAddButton": true
}]]></Config>
</DataType>