<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3c6830ec-75d6-476b-97b3-a467dce30762" Alias="Headline - Slide" Level="1">
  <Info>
    <Name>Headline - Slide</Name>
    <EditorAlias>ourHtagEditor</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "options": {
    "size": {
      "default": "h2",
      "options": [
        "h2",
        "h3",
        "h4",
        "h5",
        "h6"
      ]
    },
    "align": {
      "default": "left",
      "options": [
        "left",
        "center",
        "right"
      ]
    }
  }
}]]></Config>
</DataType>