<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b6434e04-8be2-48c5-bf45-8a80c99272e2" Alias="Hero Image" Level="1">
  <Info>
    <Name>Hero Image</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "hero",
      "height": 228,
      "label": "Hero",
      "width": 1400
    }
  ],
  "EnableLocalFocalPoint": false,
  "Filter": "umbracoMediaVectorGraphics,Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>