<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3e7859e0-3c83-486e-8a1e-485e1cbba577" Alias="Hero Button Block" Level="1">
  <Info>
    <Name>Hero Button Block</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "39ae5064-015b-46e9-9a7b-73663ae1c712",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{internalName}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": true,
  "ValidationLimit": {
    "max": 2,
    "min": null
  }
}]]></Config>
</DataType>