<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9919f8a2-7b68-4fed-bf9b-a93568860eb0" Alias="Hero Heading" Level="1">
  <Info>
    <Name>Hero Heading</Name>
    <EditorAlias>ourHtagEditor</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "options": {
    "size": {
      "default": "h1",
      "options": [
        "h1"
      ]
    },
    "align": {
      "default": "left",
      "options": [
        "left",
        "center",
        "right"
      ]
    }
  }
}]]></Config>
</DataType>