<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2e83bf91-84c3-4977-b52d-a5269a74b7a1" Alias="Home - Image" Level="1">
  <Info>
    <Name>Home - Image</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "heroImage",
      "height": 408,
      "label": "Hero Image",
      "width": 612
    }
  ],
  "EnableLocalFocalPoint": true,
  "Filter": "Image,umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>