<?xml version="1.0" encoding="utf-8"?>
<DataType Key="70047b1d-7277-4c91-bd44-de2daffa33bc" Alias="Home Content Blocks" Level="1">
  <Info>
    <Name>Home Content Blocks</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "dee6aa15-7b3d-416c-a916-b544a4c21eab",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{internalName}}",
      "settingsElementTypeKey": "ceceefd9-fd2b-4e68-b598-3742fe773c93",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "d9fc399e-9b38-4a4f-bea9-5b25de157ce7",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{internalName}}",
      "settingsElementTypeKey": "ceceefd9-fd2b-4e68-b598-3742fe773c93",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>