<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a31b134a-f029-4015-bd6c-a3c5c7512d53" Alias="Image Position" Level="1">
  <Info>
    <Name>Image Position</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UserDefinedDataListSource, Umbraco.Community.Contentment",
      "value": {
        "items": [
          {
            "icon": "icon-navigation-left color-black",
            "name": "Left",
            "value": "left",
            "description": "Display the image on the left side"
          },
          {
            "icon": "icon-navigation-right color-black",
            "name": "Right",
            "value": "right",
            "description": "Display the image on the right side"
          }
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.RadioButtonListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "showDescriptions": "1",
        "showIcons": "1",
        "allowClear": "0"
      }
    }
  ]
}]]></Config>
</DataType>