<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a8af1503-089c-4ba5-9a74-81c10120c6cf" Alias="Image Has Shadow" Level="1">
  <Info>
    <Name>Image Has Shadow</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": "Image will not have a shadow",
  "LabelOn": "Image will have a shadow",
  "ShowLabels": true
}]]></Config>
</DataType>