<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bbd6db00-2903-4358-b894-bfd642f8ca76" Alias="Input Rows" Level="1">
  <Info>
    <Name>Input Rows</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 6.0,
  "InitialValue2": 0.0,
  "MaximumValue": 9.0,
  "MinimumValue": 1.0,
  "StepIncrements": 1.0
}]]></Config>
</DataType>