<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6def3bda-47b1-49e2-9d64-4d00cba14ba1" Alias="Input Required" Level="1">
  <Info>
    <Name>Input Required</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "validationErrorMessage",
  "showLabels": "1",
  "labelOn": "Field is required",
  "labelOff": "Field is not required"
}]]></Config>
</DataType>