<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a4778127-1b4e-4c47-9bd0-ebd6cc0624e6" Alias="Maximum - Slider" Level="1">
  <Info>
    <Name>Maximum - Slider</Name>
    <EditorAlias>Umbraco.Slider</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "EnableRange": false,
  "InitialValue": 9.0,
  "InitialValue2": 0.0,
  "MaximumValue": 12.0,
  "MinimumValue": 3.0,
  "StepIncrements": 3.0
}]]></Config>
</DataType>