<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0ec1b7f2-b7ae-4e5e-8ccf-44ee6422479d" Alias="Meta Momentum" Level="1">
  <Info>
    <Name>Meta Momentum</Name>
    <EditorAlias>DM.MetaMomentum</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "showSearchFields": "1",
  "showSearchPreviewGoogle": "1",
  "showNoIndexdOption": "1",
  "fallbackTitleFields": "heroHeading,title,productName,pageTitle,pageName,name",
  "fallbackDescriptionFields": "heroText,description,heroIntroduction,desc",
  "fallbackImageFields": "heroImage,featureImage,heroImage",
  "showSocialFields": "1",
  "showSocialPreviewFacebook": "1",
  "showSocialPreviewTwitter": "1",
  "showSocialPreviewLinkedIn": "1"
}]]></Config>
</DataType>