<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b390c19c-9d72-4ee7-96f1-fbc4dbca8539" Alias="Multi URL Picker - Single" Level="1">
  <Info>
    <Name>Multi URL Picker - Single</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>