<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b5cc9622-653e-44b9-98f4-c44ee6006ec8" Alias="Nesting Contently" Level="1">
  <Info>
    <Name>Nesting Contently</Name>
    <EditorAlias>NestingContently</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>