<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d1f3b0b5-1e6f-4158-bd65-a37e6cabf2f2" Alias="Open Street Map" Level="1">
  <Info>
    <Name>Open Street Map</Name>
    <EditorAlias>Bergmania.OpenStreetMap</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "allowClear": true,
  "defaultPosition": {
    "boundingBox": {
      "northEastCorner": {
        "latitude": 51.0081789265308,
        "longitude": -0.930957198143006
      },
      "southWestCorner": {
        "latitude": 51.0068287698786,
        "longitude": -0.939813852310181
      }
    },
    "marker": {
      "latitude": 51.0075025029812,
      "longitude": -0.935388269835394
    },
    "zoom": 18
  },
  "scrollWheelZoom": true,
  "showCoordinates": false,
  "showSearch": true,
  "showSetMarkerByCoordinates": false,
  "tileLayer": "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
  "tileLayerAttribution": "Map data © OpenStreetMap contributors"
}]]></Config>
</DataType>