<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3c3803f9-55ee-4da9-a3ee-5fa4dbc8f9b1" Alias="Product - Photos" Level="1">
  <Info>
    <Name>Product - Photos</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "thumbnail",
      "height": 225,
      "label": "Thumbnail",
      "width": 420
    },
    {
      "alias": "carousel",
      "height": 400,
      "label": "Carousel",
      "width": 636
    }
  ],
  "EnableLocalFocalPoint": true,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": true,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>