<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4b2b7c23-9f57-4fed-a9af-8faee6aab5ab" Alias="Products Content Blocks" Level="1">
  <Info>
    <Name>Products Content Blocks</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "dee6aa15-7b3d-416c-a916-b544a4c21eab",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{internalName}}",
      "settingsElementTypeKey": "ceceefd9-fd2b-4e68-b598-3742fe773c93",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>