<?xml version="1.0" encoding="utf-8"?>
<DataType Key="90aaea77-416c-4272-b14e-958d6b230891" Alias="Product Categories" Level="1">
  <Info>
    <Name>Product Categories</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "productCategory",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 1,
  "ShowOpen": false,
  "TreeSource": {
    "id": "umb://document/12897ee541014493945a8c4d6c2f70cf",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>