<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2c5f7466-04f0-410d-9088-c931f7ae9a31" Alias="Recent Products - Product Category" Level="1">
  <Info>
    <Name>Recent Products - Product Category</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IgnoreUserStartNodes": false,
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/12897ee541014493945a8c4d6c2f70cf"
}]]></Config>
</DataType>