<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0a7c926c-ed5e-4b26-a1f1-40082960a874" Alias="Recent Products" Level="1">
  <Info>
    <Name>Recent Products</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "products",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": "umb://document/64837c0645a041089d97a64c1cf74240",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>