<?xml version="1.0" encoding="utf-8"?>
<DataType Key="816a7411-0711-4861-963f-2c912ebcb283" Alias="Required Error Message" Level="1">
  <Info>
    <Name>Required Error Message</Name>
    <EditorAlias>Umbraco.Community.Contentment.TextInput</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "placeholderText": "This field is required",
  "items": [],
  "autocomplete": "0",
  "spellcheck": "0"
}]]></Config>
</DataType>