<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b18d3ef6-4eb2-49d2-a0df-b539b2d4b4f7" Alias="Rich Text Editor - Basic" Level="1">
  <Info>
    <Name>Rich Text Editor - Basic</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "styleselect",
      "bold",
      "italic",
      "underline",
      "strikethrough",
      "link"
    ],
    "stylesheets": [
      "/css/editor.css"
    ],
    "maxImageSize": 500,
    "mode": "distraction-free"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small"
}]]></Config>
</DataType>