<?xml version="1.0" encoding="utf-8"?>
<DataType Key="10b1d38b-7a54-438d-93f3-d61a762684ff" Alias="Slide - Media Picker" Level="1">
  <Info>
    <Name>Slide - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "image",
      "height": 450,
      "label": "Image",
      "width": 600
    }
  ],
  "EnableLocalFocalPoint": true,
  "Filter": "Image,umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>