<?xml version="1.0" encoding="utf-8"?>
<DataType Key="33d1cfd5-c8d3-4908-a734-27df5faedbce" Alias="Tabs" Level="1">
  <Info>
    <Name>Tabs</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "2640a165-b4b0-4462-8404-cdfe1fa8b004",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": true,
  "ValidationLimit": {
    "max": null,
    "min": 1
  }
}]]></Config>
</DataType>