<?xml version="1.0" encoding="utf-8"?>
<DataType Key="77ea65d2-1c83-4581-b9b5-404f4bef8095" Alias="Textstring (250)" Level="1">
  <Info>
    <Name>Textstring (250)</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 250
}]]></Config>
</DataType>