<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fd70a433-6939-4d7e-84b8-59392baa4277" Alias="Textstring (50)" Level="1">
  <Info>
    <Name>Textstring (50)</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 50
}]]></Config>
</DataType>