<?xml version="1.0" encoding="utf-8"?>
<DataType Key="db8ca0bd-f400-4ac2-9ceb-70ee60b14980" Alias="Text Input Type" Level="1">
  <Info>
    <Name>Text Input Type</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UserDefinedDataListSource, Umbraco.Community.Contentment",
      "value": {
        "items": [
          {
            "icon": "icon-stop",
            "name": "Text",
            "value": "text",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "Email",
            "value": "email",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "Url",
            "value": "url",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "Password",
            "value": "password",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "Telephone",
            "value": "tel",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "Date",
            "value": "date",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "Date Time",
            "value": "datetime-local",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "Hidden",
            "value": "hidden",
            "description": ""
          }
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": "1",
        "htmlAttributes": []
      }
    }
  ]
}]]></Config>
</DataType>