<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a8167bbd-a5e1-44f6-a18a-234ca269dcc5" Alias="Textstring (150)" Level="1">
  <Info>
    <Name>Textstring (150)</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 150
}]]></Config>
</DataType>