<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a15933d2-b444-49e3-804c-21c325e5f544" Alias="Text Input - Validation Regex - [Contentment] Textbox List" Level="1">
  <Info>
    <Name>Text Input - Validation Regex - [Contentment] Textbox List</Name>
    <EditorAlias>Umbraco.Community.Contentment.TextboxList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UserDefinedDataListSource, Umbraco.Community.Contentment",
      "value": {
        "items": [
          {
            "icon": "icon-stop",
            "name": "Email Address",
            "value": "emailAddress",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "Url",
            "value": "url",
            "description": ""
          }
        ]
      }
    }
  ],
  "defaultIcon": "icon-document",
  "labelStyle": "text",
  "enableDevMode": "0"
}]]></Config>
</DataType>