<?xml version="1.0" encoding="utf-8"?>
<DataType Key="055b59c4-f59b-4d46-8862-c74430b1e263" Alias="Toggle (true)" Level="1">
  <Info>
    <Name>Toggle (true)</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": true,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>