<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bba03965-9192-4ecc-a956-0c6fc024250a" Alias="Top Navigation" Level="1">
  <Info>
    <Name>Top Navigation</Name>
    <EditorAlias>AaronSadler.UmbNav</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "AllowCustomClasses": false,
  "AllowDisplay": false,
  "AllowDisplayAsLabel": false,
  "AllowImageIcon": false,
  "AllowLabels": false,
  "ExpandOnHover": true,
  "ExpandOnHoverTimeout": 500,
  "HideIncludeChildren": false,
  "HideLabel": true,
  "HideNoopener": false,
  "HideNoreferrer": false,
  "MaxDepth": 2,
  "RemoveNaviHideItems": true,
  "ShowTopAddButton": true
}]]></Config>
</DataType>