<?xml version="1.0" encoding="utf-8"?>
<DataType Key="abb43101-e590-41d4-8248-a45c446704a4" Alias="URL" Level="1">
  <Info>
    <Name>URL</Name>
    <EditorAlias>Umbraco.Community.Contentment.TextInput</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "inputType": "url",
  "items": [],
  "autocomplete": "0",
  "spellcheck": "0",
  "prepend": "icon-link color-black"
}]]></Config>
</DataType>