<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a9b7c4c2-d474-43c7-9933-d2fa77734531" Alias="Validation" Level="1">
  <Info>
    <Name>Validation</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "validationType,customValidationRegex,validationErrorMessage",
  "showLabels": "0"
}]]></Config>
</DataType>