<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e72d5167-8c59-422f-a462-336a823e1150" Alias="Validation Regex" Level="1">
  <Info>
    <Name>Validation Regex</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UserDefinedDataListSource, Umbraco.Community.Contentment",
      "value": {
        "items": [
          {
            "icon": "icon-stop",
            "name": "Email Address",
            "value": "[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "Number",
            "value": "^[0-9]*$",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "URL",
            "value": "https?://[a-zA-Z0-9-.]+.[a-zA-Z]{2,}",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "Custom Validation",
            "value": "customValidation",
            "description": ""
          }
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": "1",
        "htmlAttributes": []
      }
    }
  ]
}]]></Config>
</DataType>