<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="60ed0d08-33dd-4193-8495-1ae4ae11cea5" Alias="blogCategories" Level="2">
  <Info>
    <Name>Blog Categories</Name>
    <Icon>icon-folders color-brown</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Collections</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="6f02eed6-bc34-497d-909a-9232e1a6dbf3" SortOrder="0">blogCategory</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>