<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1e9f29f6-95e4-4279-bca6-8bc4f47c9062" Alias="home" Level="2">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b052179a-7bf5-401f-87b8-1006f44d451a">meta</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8a6f705f-2f7f-48c9-8d60-9dbbc544aa3a">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d9748d9d-5324-4cd8-a9c8-f72cc629ef92" SortOrder="0">article</ContentType>
    <ContentType Key="f7d2df8e-d476-40b5-9ebe-3a02a0352aaa" SortOrder="1">contentPage</ContentType>
    <ContentType Key="fe6014e9-b08a-4dcd-9b97-af02cd2d1fcf" SortOrder="2">products</ContentType>
    <ContentType Key="92f16d30-1933-45f2-a9d4-d61c02f41e98" SortOrder="3">blog</ContentType>
    <ContentType Key="d9158fbd-3868-4cf2-8e84-bc6a947a9641" SortOrder="4">registration</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>ff4a54ce-763b-4a78-ba27-ced53ac832a9</Key>
      <Name>Background Colour</Name>
      <Alias>backgroundColour</Alias>
      <Definition>012d4759-1f87-4134-9507-4f268ac28dd9</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>31d99047-f173-4823-bc29-5d1c06ce26d8</Key>
      <Name>Content Blocks</Name>
      <Alias>contentBlocks</Alias>
      <Definition>70047b1d-7277-4c91-bd44-de2daffa33bc</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>97dbe445-f832-467e-88f9-724320096dc7</Key>
      <Name>Buttons</Name>
      <Alias>heroButtons</Alias>
      <Definition>3e7859e0-3c83-486e-8a1e-485e1cbba577</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1654ee33-7a40-421b-99de-74d5ef7e51f9</Key>
      <Name>Heading</Name>
      <Alias>heroHeading</Alias>
      <Definition>9919f8a2-7b68-4fed-bf9b-a93568860eb0</Definition>
      <Type>ourHtagEditor</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b3dbdc9b-2cea-4c0e-8bc5-da4b66620097</Key>
      <Name>Image</Name>
      <Alias>heroImage</Alias>
      <Definition>2e83bf91-84c3-4977-b52d-a5269a74b7a1</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>236a4603-4179-40ac-8075-c7409b487291</Key>
      <Name>Intro Text</Name>
      <Alias>heroText</Alias>
      <Definition>b18d3ef6-4eb2-49d2-a0df-b539b2d4b4f7</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="hero">Hero</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4b4cc207-2abf-404a-bc71-44381ab239b4</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>82134921-5b3a-4092-9d54-c97c8713862e</Key>
      <Caption>Hero</Caption>
      <Alias>hero</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>